html
    head
        title= 'ouijabeederboard charts'
        link(rel="stylesheet", href="/public/styles/charts.css")
        script(src='/public/highcharts/code/highcharts.js')
        script(src='/public/scripts/charts.js')
    body
        #chart