doctype html
html
    head
        title= 'ouijabeederboard charts'
        //meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="/public/styles/shared.css")
        script(src='/public/highcharts/highstock.js')
        script(src='/public/highcharts/modules/exporting.js')
        script(src='/public/highcharts/modules/export-data.js')
        script(src='/public/highcharts/modules/accessibility.js')
        script(src='/public/highcharts/modules/drilldown.js')
        script(src='/public/highcharts/modules/heatmap.js')
        script(src='/public/highcharts/modules/sankey.js')
        script(src='/public/highcharts/modules/dependency-wheel.js')
        script(src='/public/scripts/charts.js')
    body#body
        #nav-menu
            #obb
                h3 ouijabeederboard.com
            #menu-btn
                span Menu 
                img(src='/public/images/menu-button.svg')
            #nav-items-wrap.hide
                ul#nav-items
                    li#nav-leaderboard.link
                        a(href='/') Back to leaderboard
                    li#nav-comments-user
                        span Comments per user
                    li#nav-comments-day
                        span Comments per day
                    li#nav-letters-used
                        span Letters used
                    li#nav-replies-dependency
                        span Top commenters relation
                    li#nav-timeline
                        span Timeline
                    li#nav-darkmode.toggle
                        span Nightmode
                        label.switch
                            input#darkmode(type='checkbox')
                            span.slider.round
                    li#links.toggle
                        a(href='https://discord.gg/AXNz4ps73B', target='_blank')
                            img(src='/public/images/discord.svg')
                        a(href='https://github.com/MasterfulPleb/obb.com', target='_blank')
                            img(src='/public/images/github.svg')
        #content-wrapper
            #chart