html
  head
    title= 'Welcome to ouijabeederboard.com'
    link(rel="stylesheet", href="/public/styles/index.css")
  body
    table#leaderboard
        tr#headers
            th User
            th Comments
        //new row for each user
        - for (i = 0; i < array.length; i++)
          tr array[i].author