html
  head
    title= 'Welcome to ouijabeederboard.com'
    link(rel="stylesheet", href="/public/styles/index.css")
  body
    table#leaderboard
        tr#headers
            th User
            th Comments
        //new row for each user
        - for (i = 0; i < array.length; i++)
          - var a = array[i].author
          - var c = array[i].totalComments
          tr#a
            td= a
            td= c 