html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0 1em 0 1em;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    font-size: larger;
    font-family: sans-serif;
}
#chart {
    height: 100%
}