body {
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
    font-size: larger;
    font-family: sans-serif;
}
#leaderboard {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.row {
    display: flex;
}
.row p {
    
}
.place {
    flex: 1;
}
.author {
    flex: 15;
}
.comments {
    flex: 3;
}
#headers .author, #headers .comments {
    font-size: revert
}