body {
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
    font-size: larger;
    font-family: sans-serif;
}
#leaderboard {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgb(200, 200, 200);
    border-radius: 1em;
}
.row {
    display: flex;
}
.place {
    flex: 10;
    text-align: right;
    /* margin-right: 10px; */
    padding-right: .5em;
}

.row:nth-child(even) {
    background-color: rgb(49, 49, 49);
    /* overflow: hidden; */
    border-radius: 1em;
}

.row p {margin-top: .6em;margin-bottom: .6em;}
.author {
    flex: 60;
    overflow: hidden;
}
.comments {
    flex: 12;
    text-align: right;
    padding-right: .5em;
}
#headers .author, #headers .comments {
    font-size: revert;
}