body {
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
}
#leaderboard {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.row {
    display: flex;
}
.row.author {
    flex: 5;
}
.row.comments {
    flex: 1
}